

<!--

    Title       : Dashboard
    Author      : Jiho Choi

    Description : lists summary and overview of the app


-->

<!--
    views/layout.hbs contains header and nav-bar
-->



<!--
    webstorm reindent : control + alt + i
-->

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Hello, {{{user.displayName}}}</h1>
            <!-- this below is how to use json -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">


        <div class="col-lg-3 col-md-6">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">

                            <div class="huge" >0</div>

                            <div>Join Existing Courses!</div>

                        </div>
                    </div>
                </div>
		<a href="/">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
		</a>
            </div>
        </div>


        <div class="col-lg-3 col-md-6">
            <div class="panel panel-green">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-book fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">

                            <div class="huge">{{courses.length}}</div>

                            <div>My Courses</div>
                        </div>
                    </div>
                </div>
		<a href="/notpermitted">
                    <div class="panel-footer">
                        <span class="pull-left">Add Courses</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        <div class="clearfix"></div>
                    </div>
		</a>
            </div>
        </div>
        <!--<div class="col-lg-3 col-md-6">-->
            <!--<div class="panel panel-primary">-->
                <!--<div class="panel-heading">-->
                    <!--<div class="row">-->
                        <!--<div class="col-xs-3">-->
                            <!--<i class="fa fa-comments fa-5x"></i>-->
                        <!--</div>-->
                        <!--<div class="col-xs-9 text-right">-->
                            <!--<div class="huge">26</div>-->
                            <!--<div>New Feeds</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<a href="#">-->
                    <!--<div class="panel-footer">-->
                        <!--<span class="pull-left">View Details</span>-->
                        <!--<span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>-->
                        <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                <!--</a>-->
            <!--</div>-->
        <!--</div>-->


    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Summary
                </div>
                <!-- /.panel-heading -->



                <div class="panel-body" style="height:500px;overflow:auto;">


                    {{# each user.summary }}
                        <div class="well well-sm">
                            <h4>{{this}}</h4>
                        </div>
                    {{/each}}


                    <!--<div class="well well-sm">-->
                        <!--<h4>Small Well</h4>-->
                        <!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan. Aliquam ornare lacus adipiscing, posuere lectus et, fringilla augue.</p>-->
                    <!--</div>-->


                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

        <div class="col-lg-4">
            <!-- Events -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Events

                    <!--<a href="/createEvent">-->
                        <!--<span class="pull-right" type="button" onclick="alert('Create Event Page')">Create Event</span>-->
                    <!--</a>-->

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="height:200px;overflow:auto;">

                    <!--<script type="text/javascript">-->
                        <!--console.log("events");-->
                        <!--document.write("Hello World!");-->
                    <!--</script>-->


                    {{# each user.events}}
                        {{#if this}}
                            <a href="/course/{{this.className}}/event/{{this._id}}" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i> {{this}}
                                <span class="pull-right text-muted small"><em>{{this.startTime}}</em></span>
                            </a>
                        {{/if}}
                    {{/each}}


                </div>
            </div>

            <!-- Subgroups -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-globe fa-fw"></i> Subgroups
                    <!--<a href="/addSubgroup">-->
                        <!--<span class="pull-right" type="button" onclick="alert('Add Subgroup Page')">Create Subgroup</span>-->
                    <!--</a>-->


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="height:200px;overflow:auto;">

                    {{# each user.subgroups }}
                        {{#if this}}
                            <a href="/course/{{this.className}}/{{this.name}}" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> {{this.name}}
                            </a>
                        {{/if}}
                    {{/each}}

                </div>
            </div>

        </div>
        <!-- /.panel-body -->


    </div>
</div>


