
<!--

    Title       : Events
    Author      : Dominic Valentine

    Description : lists information about Events and gives option of joining an event


-->

<!--
    views/layout.hbs contains header and nav-bar
-->



<!--
    webstorm reindent : control + alt + i
-->



    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{{evnt.name}}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->




        <div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <!-- Header for this Panel. Not sure what to put in it. -->
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#Schedule" data-toggle="tab">Attend Event</a>
                            </li>
                            <li><a href="#home" data-toggle="tab">Description</a>
                            </li>
                            <li><a href="#Links" data-toggle="tab">Addition Info</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div class="tab-pane fade" id="home">
                                <h4>About Event</h4>
                                <p>{{evnt.description}}</p>
                            </div>
                            <div class="tab-pane fade" id="Links">
                                <h4>Specifics</h4>
                                <p>Where:
                                    <span class="pull-right"><em>{{evnt.type}}</em>
                                    </span>
                                </p>
                                <p>When:
                                    <span class="pull-right"><em>{{evnt.startTime}}</em>
                                    </span>
                                </p>
                            </div>

                            <form name="create-antirsvp-form" id="create-antirsvp-form" action="/remove-rsvp" method="post">
                                <input type="hidden" name="invite" id="invite" value="{{evnt._id}}"/>
                            </form>
                            <form name="create-rsvp-form" id="create-rsvp-form" action="/add-rsvp" method="post">

                                <input type="hidden" name="invite" id="invite" value="{{evnt._id}}"/>

                            </form>
                            <div class="tab-pane fade in active" id="Schedule">
                                <h4></h4>
                                <a href="#" onclick="submit_create_rsvp()">RSVP for Event</a>
                                <a href="#" class="button pull-right" onclick="submit_remove_rsvp()">Remove my RSVP</a>
                            </div>


                        </div>
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Classmates Attending
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <!--<th>#</th>-->
                                    <th>Email</th>
                                    <!--<th>Last Name</th>-->
                                    <!--<th>Username</th>-->
                                </tr>
                                </thead>
                                <tbody>
                                <!--<tr class="success">-->
                                <!--<td>1</td>-->
                                <!--<td>Kyle</td>-->
                                <!--<td>Korver</td>-->
                                <!--<td>@3sss4days</td>-->
                                <!--</tr>-->


                                <!--<tr class="info">-->
                                <!--<td>2</td>-->
                                <!--<td>J. R.</td>-->
                                <!--<td>Smith</td>-->
                                <!--<td>@failure</td>-->
                                <!--</tr>-->


                                {{# each students.email }}
                                    <tr class="info">
                                        <td></td>
                                        <td>{{this}}</td>
                                    </tr>
                                {{/each}}

                                </tbody>
                            </table>
                        </div>
                        <a href="#" class="btn btn-default btn-block">See All Attendees</a>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>

    </div>
    <!-- /#page-wrapper -->


