<!--

    Title       : AddCourse
    Author      : Jiho Choi

    Description : search and addCourse from the current user using GET and POST

    TODOs : search query connection with Purdue.io API


-->


<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Manage Courses</h1>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->

    <div class="row">
        <div class="col-lg-8">

            <!-- join course -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Join Course
                </div>
                <div class="panel-body">
                    <div class="row">

                        <div class="col-lg-6">
                            <form id="join-course-form" name="join-course-form" action="/join-class" method="post">

                                <div class="form-group">
                                    <!--<label>Search Results</label>-->
                                    <label>Existing Courses</label>
                                    <select size="10" multiple class="form-control" name="join_course_name">
                                        {{# each all_courses }}
                                            <option value="{{ this }}">{{ this }}</option>
                                            <!--<option value="{{ this.semester }}">{{ this.semester }}</option>-->
                                        {{/each}}
                                        <!--<option>none</option>-->
                                    </select>
                                </div>

                                <button type="button" class="btn btn-default" onclick="join_request_prompt('{{courses}}')">Join Class</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </form>
                        </div>
                    </div>
                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>

            <!-- create course -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Create Course
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="create-course-form" name="create-course-form" action="/create-course" method="post">

                                <div class="form-group">
                                    <label>Course Title</label>
                                    <!--<input class="form-control" type="text" id="coursename" name="coursename" placeholder="CS180, MATH251" pattern="[A-Z0-9]{5,10}" required>-->
                                    <input class="form-control" type="text" id="create_course_name" name="create_course_name" placeholder="CS180, MATH251"
                                           pattern="[A-Z0-9]{5,10}" required>
                                    <span class="help-block">The course title should be in forms of [XXX000] <br> ex) CS180, MATH250, EAPS100 </span>
                                </div>
                                <div class="form-group">
                                    <label>Full Course Name</label>
                                    <input class="form-control" type="text" id="create_course_full_name" name="create_course_full_name" placeholder="Systems Programming">
                                </div>

                                <div class="form-group">
                                    <label>Semester</label>
                                    <select multiple class="form-control" id="semester" name="semester">
                                        <option value="Fall 2017">Fall 2017</option>
                                        <!--<option value="Summer 2017">Summer 2017</option>-->
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label>Description</label>
                                    <input class="form-control" type="text" id="description" name="description" placeholder="The course description">
                                </div>

                                <button type="button" class="btn btn-default" onclick="create_request_prompt('{{all_courses}}')">Create Course</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- leave course -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    Delete Course
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <form id="delete-course-form" name="delete-course-form" action="/delete-course" method="post" onsubmit="alert({{ this }} + ' course deleted!')">
                            <!--<form name="delete-course-form" onsubmit="deleteCourse()">-->

                                <div class="form-group">
                                    <label>Course Title</label>
                                    <!-- todo change delete course to delete course for that user -->

                                    <select multiple class="form-control" id="delete_course_name" name="delete_course_name">
                                        {{# each courses }}
                                            {{#if this }}
                                                <option value="{{ this }}">{{ this }}</option>
                                                <!--<option value="{{ this.semester }}">{{ this.semester }}</option>-->
                                            {{/if}}
                                        {{/each}}
                                    </select>
                                </div>

                                <button type="button" class="btn btn-default" onclick="delete_request_prompt()">Delete Course</button>
                                <button type="reset" class="btn btn-default">Cancel</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
