


<div id="page-wrapper">
    <div class="row">


        <!--<h1 class="page-header"></h1>-->
        <h1 class="page-header"> {{subgroup.name}}</h1>

        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->



    <div class="row">

        <div class="col-lg-8">

            <form id="post-note-form" name="post-note-form" action="/create-post" method="post">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Chat
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chat-div" class="panel-body" style="height:500px;overflow:auto;">

                        <ul id="messages"></ul>


                        <script src="{{{chatserver}}}/socket.io/socket.io.js">var io = require('socket.io-client')</script>
                        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
                        <script>
                            $(function () {
                                var socket = io.connect("{{{chatserver}}}");
                                socket.on('connect', function() {
                                    socket.emit('server message',
                                            { room: '{{{room}}}', email: '{{{email}}}' });
                                });
                                $('form').submit(function() {
                                    socket.emit('chat message',
                                            { room: '{{{room}}}', from: '{{{email}}}', text: $('#m').val() });
                                    $('#m').val('');
                                    return false;
                                });
                                socket.on('chat message', function(msg) {
                                    $('#messages').append($('<li>').text(msg.from + ': ' + msg.text));
                                });
                            });
                        </script>

                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->

                    <div class="panel-footer">
                        <div class="input-group">
                            <form action="">
                                <input id="m" name="text_input" type="text" class="form-control input-sm" autocomplete="off" /><span class="input-group-btn"><button class="btn btn-warning btn-sm" id="btn-chat" >Send</button></span>
                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.panel -->
            </form>



        </div>

        <div class="col-lg-4">


            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->

                    <!--<form id="brute-force-invite-form" name="brute-force-invite-form" action="/delete-course" method="post" onsubmit="alert({{ this }} + ' course deleted!')">-->
                        <!--&lt;!&ndash;<form name="delete-course-form" onsubmit="deleteCourse()">&ndash;&gt;-->

                        <!--<div class="form-group">-->
                            <!--<label>Invite Classmate to the Subgroup</label>-->
                            <!--&lt;!&ndash; todo change delete course to delete course for that user &ndash;&gt;-->
                            <!--<input type="hidden" id="myemail" name="myemail" value="{{user.emails.value}}" />-->

                            <!--<select multiple class="form-control" id="invite_email" name="invite_email">-->
                                <!--{{# each course.emails }}-->
                                    <!--{{#if this }}-->
                                        <!--<option value="{{ this }}">{{ this }}</option>-->
                                        <!--&lt;!&ndash;<option value="{{ this.semester }}">{{ this.semester }}</option>&ndash;&gt;-->
                                    <!--{{/if}}-->
                                <!--{{/each}}-->
                            <!--</select>-->
                        <!--</div>-->

                        <!--<button type="button" class="btn btn-default" onclick="brute_force_invite_group()">Invite</button>-->
                        <!--<button type="reset" class="btn btn-default">Cancel</button>-->
                    <!--</form>-->

                    <!--&lt;!&ndash;<i class="fa fa-bar-chart-o fa-fw"></i>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->




            <!--&lt;!&ndash; Events &ndash;&gt;-->
            <!--<div class="panel panel-default">-->
                <!--<div class="panel-heading">-->
                    <!--<i class="fa fa-bell fa-fw"></i> Members-->
                <!--</div>-->
                <!--&lt;!&ndash; /.panel-heading &ndash;&gt;-->
                <!--<div class="panel-body" style="height:200px;overflow:auto;">-->

                    <!--&lt;!&ndash;<script type="text/javascript">&ndash;&gt;-->
                    <!--&lt;!&ndash;console.log("events");&ndash;&gt;-->
                    <!--&lt;!&ndash;document.write("Hello World!");&ndash;&gt;-->
                    <!--&lt;!&ndash;</script>&ndash;&gt;-->


                    <!--{{# each user.subgroups}}-->
                        <!--{{#if this}}-->
                            <!--<a href="#" class="list-group-item">-->
                                <!--<i class="fa fa-tasks fa-fw"></i> {{this}}-->
                            <!--</a>-->
                        <!--{{/if}}-->
                    <!--{{/each}}-->


                <!--</div>-->
            <!--</div>-->

        </div>




    </div>
    <!-- /.row -->



</div>
<!-- /#page-wrapper -->