


<div id="page-wrapper">
    <div class="row">


        <!--<h1 class="page-header"></h1>-->
        <h1 class="page-header"> {{subgroup.name}} <button class="pull-right" style="background-color: #bcddff;border: none;font-size: large" onclick=location.href="/course/{{course.name}}/invite">Invite Member</button></h1>


        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->



    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i>
                    <button style="background-color: #bcddff;border: none;font-size: large" onclick="location.href='/invite-group'">Invite Member</button>
                </div>
                <!-- /.panel-heading -->
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>

    </div>


    <div class="row">

        <div class="col-lg-8">


            <form id="post-note-form" name="post-note-form" action="/create-post" method="post">
                <div class="panel panel-default" >
                    <div class="panel-heading">
                        <i class="fa fa-bar-chart-o fa-fw"></i> Posts
                    </div>
                    <!-- /.panel-heading -->
                    <div id="chat-div" class="panel-body" style="height:500px;overflow:auto;">

                        <script src="{{{chatserver}}}/socket.io/socket.io.js">var io = require('socket.io-client')</script>
                        <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
                        <script>
                            $(function () {
                                var socket = io.connect("{{{chatserver}}}");
                                socket.on('connect', function() {
                                    socket.emit('server message',
                                            { room: '{{{room}}}', email: '{{{email}}}' });
                                });
                                $('form').submit(function() {
                                    socket.emit('chat message',
                                            { room: '{{{room}}}', from: '{{{email}}}', text: $('#m').val() });
                                    $('#m').val('');
                                    return false;
                                });
                                socket.on('chat message', function(msg) {
                                    $('#messages').append($('<li>').text(msg.from + ': ' + msg.text));
                                });
                            });
                        </script>
                        <ul id="messages"></ul>

                        <!-- /.row -->
                    </div>
                    <!-- /.panel-body -->

                    <div class="panel-footer">
                        <div class="input-group">
                            <form action="">
                                <input id="m" name="text_input" type="text" class="form-control input-sm" autocomplete="off" /><span class="input-group-btn"><button class="btn btn-warning btn-sm" id="btn-chat" >Send</button>                            </span>

                            </form>

                        </div>
                    </div>

                </div>
                <!-- /.panel -->
            </form>



        </div>

        <div class="col-lg-4">
            <!-- Events -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Events

                    <!--<a href="/createEvent">-->
                    <!--<span class="pull-right" type="button" onclick="alert('Create Event Page')">Create Event</span>-->
                    <!--</a>-->

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="height:200px;overflow:auto;">

                    <!--<script type="text/javascript">-->
                    <!--console.log("events");-->
                    <!--document.write("Hello World!");-->
                    <!--</script>-->


                    {{# each user.events}}
                        {{#if this}}
                            <a href="#" class="list-group-item">
                                <i class="fa fa-tasks fa-fw"></i> {{this.name}}
                                <span class="pull-right text-muted small"><em>{{this.starttime}}</em></span>
                            </a>
                        {{/if}}
                    {{/each}}


                </div>
            </div>

            <!-- Subgroups -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-globe fa-fw"></i> Subgroups
                    <!--<a href="/addSubgroup">-->
                    <!--<span class="pull-right" type="button" onclick="alert('Add Subgroup Page')">Create Subgroup</span>-->
                    <!--</a>-->


                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="height:200px;overflow:auto;">

                    {{# each user.subgroups }}
                        {{#if this}}
                            <a href="#" class="list-group-item">
                                <i class="fa fa-comment fa-fw"></i> {{this.name}}
                            </a>
                        {{/if}}
                    {{/each}}

                </div>
            </div>

        </div>




    </div>
    <!-- /.row -->



</div>
<!-- /#page-wrapper -->